.footer__info {
  @media screen and(min-width:768px) and(max-width:1199px) {
    margin-right: 165px;
    margin-left: auto;
  }
  @media screen and(min-width:1200px) {
    margin-right: 93px;
  }
}
.address {
  margin-bottom: 60px;
}
.address__text {
  font-style: normal;
  @include font-w_font-s_line-h_letter-sp(400, 14px, 1.71);
  color: $third-color;
  margin-bottom: 9px;
}

.address__item:not(:last-child) {
  margin-bottom: 9px;
}

.address__link {
  font-style: normal;
  @include font-w_font-s_line-h_letter-sp(400, 14px, 1.71);
  color: rgba(255, 255, 255, 0.6);
  transition: color $transition-duration $timing-function;

  &:hover,
  &:focus {
    color: $active-color;
  }
}
